@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.logo{
    /* display: flex;
    justify-content: center; */
    height: 100vh;
    width: 40vw;
    background: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") no-repeat center;
    background-size: cover;

}

.content{
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color:rgb(239, 239, 239);
}

.upper{
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.middle{
    height: 35vh;
    background-color: white;
    box-shadow: 6px 4px 6px gray;
}

.main-form{
    display: flex;
    font-size: small;
}

.form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 5%;
    margin-top: 1%;
}

input{
    height: 3vh;
    border: 1px rgb(211, 211, 211) solid;
    border-radius: 5px;
}

input:focus{
    border: 1px blue;
}

input:invalid{
    border:2px red solid;
}

.form-sub-div{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.errormsg{
    color: red;
}

.lower{
    height: 35vh;
}

.green-btn{
    margin-top: 4%;
    margin-left: 5%;
    height: 17%;
    width: 20%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.green-btn:hover{
    background-color: white;
    color: green;
    border: 2px solid green;
}

.login-info{
    margin-top: 1%;
    margin-left: 5%;
}

.login{
    display: inline;
}

.login-btn{
    border: none;
    font-size: medium;
    color: green;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
}